doctype html
html
  head
    title= htmlWebpackPlugin.options.title
    if htmlWebpackPlugin.options.dll
      each val in htmlWebpackPlugin.options.dll
        script(src=val, type='text/javascript')
  body
    #root
